<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>O House | Privacy Policy</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords"
          content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/css/theme.min.css">
</head>
<!-- Body-->
<body class="handheld-toolbar-enabled">

<!-- Header -->
<header class="navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light"
        th:include="header :: header"></header>

<!-- Hero-->
<section class="mb-lg-2 bg-faded-accent bg-size-cover"
         style="padding-top: 80px; background-image: url(/images/main/hero-bg.png);">
    <div class="container py-4">
        <div class="row align-items-center justify-content-center gy-3 py-3 text-lg-start text-center">
            <div class="col-lg-5 col-md-8 col-sm-10">
                <h1 class="mb-4 pb-lg-2">O House Privacy Policy</h1>
                <p class="mb-lg-5 mb-4 fs-lg">
                    Last updated: April 30, 2023<br/>

                <h3 class="mb-4 pb-lg-2">At O House Restaurant, we value the privacy of our customers and visitors to
                    our website. This Privacy Policy explains how we collect, use, and protect your personal information
                    when you use our website. By using our website, you agree to the terms of this Privacy Policy.</h3>
                <br/>

                <h3 class="mb-4 pb-lg-2">Information We Collect</h3>
                1.1 Personal Information: We may collect personally identifiable information ("Personal Information")
                when you register an account, place an order, or otherwise interact with our website. Personal
                Information may include, but is not limited to, your name, email address, phone number, and mailing
                address.
                <br/>
                1.2 Non-Personal Information: We may also collect non-personally identifiable information ("Non-Personal
                Information") when you visit our website, such as your IP address, browser type, device type, and
                browsing history.
                <br/><br/>

                <h3 class="mb-4 pb-lg-2">How We Use Your Information</h3>
                2.1 We use your Personal Information to:<br/>
                (a) Process and fulfill your orders;<br/>
                (b) Communicate with you about your orders, inquiries, and requests;<br/>
                (c) Send you promotional materials and updates about our products and services;<br/>
                (d) Improve our website and customize your experience;<br/>
                (e) Maintain and secure your account.<br/>
                <br/>
                2.2 We use your Non-Personal Information to:<br/>
                (a) Analyze website usage and trends;<br/>
                (b) Improve our website's performance and user experience;<br/>
                (c) Identify and fix technical issues;<br/>
                (d) Enhance the security of our website.<br/>
                <br/>

                <h3 class="mb-4 pb-lg-2">How We Share Your Information</h3>
                3.1 We will not sell, rent, or share your Personal Information with third parties except:<br/>
                (a) To fulfill your orders or provide requested services;<br/>
                (b) To comply with applicable laws, regulations, or legal process;<br/>
                (c) To protect the rights, property, or safety of O House Restaurant, our customers, or others;<br/>
                (d) In connection with a merger, acquisition, or sale of all or a portion of our business assets.<br/>
                <br/>

                <h3 class="mb-4 pb-lg-2">Security</h3>
                4.1 We implement reasonable security measures to protect your Personal Information from unauthorized
                access, use, or disclosure. However, no method of transmission over the Internet or electronic storage
                is completely secure, and we cannot guarantee the absolute security of your Personal Information.
                <br/><br/>

                <h3 class="mb-4 pb-lg-2">Cookies</h3>
                5.1 Our website may use cookies and similar technologies to enhance your browsing experience, analyze
                website traffic, and customize content. You can manage your cookie preferences through your browser
                settings.
                <br/><br/>

                <h3 class="mb-4 pb-lg-2">Changes to This Privacy Policy</h3>
                7.1 We may update this Privacy Policy from time to time to reflect changes in our practices or
                applicable laws. When we make changes, we will update the "Last updated" date at the beginning of the
                Privacy Policy. We encourage you to review this Privacy Policy periodically to stay informed about our
                privacy practices.
                <br/><br/>

                <h3 class="mb-4 pb-lg-2">Your Rights and Choices</h3>
                8.1 You may review, update, or delete your Personal Information by accessing your account on our
                website. If you wish to opt-out of receiving promotional emails, you can contact us at
                hktolleh@gmail.com
                <br/><br/>

                <h3 class="mb-4 pb-lg-2">Contact Us</h3>
                8.1 If you have any questions or concerns about this Agreement, please contact us at ohouseab@gmail.com
                <br/><br/>

                By using the O House Restaurant website, you acknowledge that you have read, understood, and agree to
                the terms of this Privacy Policy.
                <br/><br/>

                <div class="d-lg-flex d-none flex-sm-row flex-column justify-content-lg-start justify-content-center">
                    <a class="btn btn-lg btn-accent me-sm-3 mb-sm-3 mb-2" href="/">Return to homepage</a></div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-darker pt-5" th:include="footer :: footer"></footer>
<!-- Main theme script-->
<script src="/js/theme.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>
</html>