<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>O House | User Agreement</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords"
          content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/css/theme.min.css">
</head>
<!-- Body-->
<body class="handheld-toolbar-enabled">

<!-- Header -->
<header class="navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light"
        th:include="header :: header"></header>

<!-- Hero-->
<section class="mb-lg-2 bg-faded-accent bg-size-cover"
         style="padding-top: 80px; background-image: url(/images/main/hero-bg.png);">
    <div class="container py-4" style="max-width: 100%">
        <div class="row align-items-center justify-content-center gy-3 py-3 text-lg-start text-center">
            <div class="col-lg-5 col-md-8 col-sm-10">
                <h1 class="mb-4 pb-lg-2">O House User Agreement</h1>
                <p class="mb-lg-5 mb-4 fs-lg">
                    Last updated: April 30, 2023<br/>

                <h3 class="mb-4 pb-lg-2">Welcome to the O House Restaurant, located within the US military base in South
                    Korea. By using our website, you agree to the terms and conditions set forth in this User Agreement.
                    We reserve the right to modify or update this Agreement at any time without prior notice.</h3>
                <br/>
                <h3 class="mb-4 pb-lg-2">General Terms and Conditions</h3>
                1.1 This Agreement sets forth the legally binding terms for your use of the O House Restaurant website
                (the "Website"). By accessing or using the Website, you agree to be bound by this Agreement, whether you
                are a "Visitor" (which means you are simply browsing the Website) or a "Member" (which means you have
                registered an account on the Website).
                <br/>
                1.2 You may only use the Website if you are at least 18 years old or the age of majority in the
                jurisdiction where you reside or from which you access the Website.
                <br/>
                1.3 By using the Website, you represent and warrant that you have the right, authority, and capacity to
                enter into this Agreement and to abide by all its terms and conditions.
                <br/><br/>
                <h3 class="mb-4 pb-lg-2">Website Access and Use</h3>
                2.1 O House Restaurant grants you a limited, non-exclusive, non-transferable, non-sublicensable license
                to access and use the Website for your personal, non-commercial purposes.
                <br/>
                2.2 You agree not to access or use the Website for any unlawful purpose or in any manner that is
                prohibited by this Agreement.
                <br/>
                2.3 You may not copy, reproduce, distribute, transmit, display, perform, publish, license, modify,
                translate, adapt, create derivative works from, transfer, sell or otherwise exploit the Website or any
                content, information, products or services obtained from the Website for any commercial purpose.
                <br/><br/>
                <h3 class="mb-4 pb-lg-2">Account Registration</h3>
                3.1 In order to access certain features of the Website, you may be required to register an account. When
                creating your account, you must provide accurate and complete information.
                <br/>
                3.2 You are solely responsible for maintaining the confidentiality of your account and password and for
                any and all activities that occur under your account.
                <br/>
                3.3 You agree to notify O House Restaurant immediately of any unauthorized use of your account or any
                other breach of security. O House Restaurant will not be liable for any loss or damage arising from your
                failure to comply with this section.
                <br/><br/>
                <h3 class="mb-4 pb-lg-2">Privacy</h3>
                4.1 Your privacy is important to us. Please review our Privacy Policy, which is incorporated into this
                Agreement by reference, to understand our practices regarding the collection, use, and disclosure of
                your personal information.
                <br/><br/>
                <h3 class="mb-4 pb-lg-2">Intellectual Property Rights</h3>
                5.1 The Website and all its contents, including but not limited to text, graphics, logos, images, audio,
                video, and the overall design, are the property of O House Restaurant or its licensors and are protected
                by copyright, trademark, and other intellectual property laws.
                <br/>
                5.2 You acknowledge that any unauthorized use of the Website or its contents may violate copyright,
                trademark, and other intellectual property laws.
                <br/><br/>
                <h3 class="mb-4 pb-lg-2">Termination</h3>
                6.1 O House Restaurant reserves the right, in its sole discretion, to terminate your access to the
                Website and the related services or any portion thereof at any time, without notice.
                <br/><br/>
                <h3 class="mb-4 pb-lg-2">Governing Law</h3>
                7.1 This Agreement shall be governed by and construed in accordance with the laws of the United States,
                without regard to its conflict of law provisions.
                <br/><br/>
                <h3 class="mb-4 pb-lg-2">Contact Us</h3>
                8.1 If you have any questions or concerns about this Agreement, please contact us at ohouseab@gmail.com
                <br/><br/>
                By using the O House Restaurant website, you acknowledge that you have read, understood, and agree to be
                bound by this User Agreement.
                <br/><br/>

                <div class="d-lg-flex d-none flex-sm-row flex-column justify-content-lg-start justify-content-center">
                    <a class="btn btn-lg btn-accent me-sm-3 mb-sm-3 mb-2" href="/">Return to homepage</a></div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-darker pt-5" th:include="footer :: footer"></footer>
<!-- Main theme script-->
<script src="/js/theme.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>
</html>