<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>O House | Check Out</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VV5JTYY4LL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-VV5JTYY4LL');
    </script>
    <meta charset="utf-8">
    <title>O House | Cart</title>
    <link rel="icon" href="/images/icon/favicon.ico" type="image/x-icon">
    <!-- SEO Meta Tags-->
    <meta name="description"
          content="O House is a restaurant located near Osan Air Base, serving delicious meals and a variety of cuisines. Visit us for a great dining experience!">
    <meta name="keywords" content="O House, Osan Air Base, restaurant, dining, cuisine, food">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/css/theme.min.css">
    <script src="https://kit.fontawesome.com/57a9f91f4b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
<!-- Header -->
<header class="navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light"
        th:include="header :: header"></header>

<main class="page-wrapper" style="font-family: 'Lato', sans-serif;">
    <div class="container pt-1 pb-3 py-sm-4">
        <div class="rounded-3 shadow-lg mt-4 mb-5">
            <ul class="nav nav-tabs nav-justified mb-4">
                <li class="nav-item"><a class="nav-link fs-lg fw-medium py-4" href="/carts">1. Cart</a>
                </li>
                <li class="nav-item"><a class="nav-link fs-lg fw-medium py-4 active" href="/orders/checkout">2.
                    Checkout</a>
                </li>
            </ul>
            <form action="/orders" method="post" onsubmit="return validateForm()"
                  class="needs-validation px-3 px-sm-4 px-xl-5 pt-sm-1 pb-4 pb-sm-5"
                  novalidate name="myForm">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <div class="row pb-4 pt-3">
                    <div class="col-sm-6 mb-4">
                        <label class="form-label" for="fistName">First Name<sup class="text-danger ms-1">*</sup></label>
                        <input class="form-control" type="text" name="firstName" required id="fistName">
                        <div class="invalid-feedback">Please enter your first name!</div>
                    </div>
                    <div class="col-sm-6 mb-4">
                        <label class="form-label" for="lastName">Last Name<sup class="text-danger ms-1">*</sup></label>
                        <input class="form-control" type="text" name="lastName" required id="lastName">
                        <div class="invalid-feedback">Please enter your last name!</div>
                    </div>

                    <div class="col-sm-6 mb-4">
                        <label class="form-label" for="phone">Telephone<sup
                                class="text-danger ms-1">*</sup></label>
                        <input class="form-control" type="text" required id="phone" th:value="${telephone}" readonly>
                    </div>
                    <div class="col-sm-6 mb-4">
                        <label class="form-label" for="time">Delivery time<sup
                                class="text-danger ms-1">*</sup></label>
                        <select class="form-select" id="time">
                            <option value="asap">As soon as possible</option>
                        </select>
                    </div>
                    <div class="col-sm-6 mb-4">
                        <div class="fs-sm fw-medium mb-3">Drop-off options</div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" checked id="hand-to-me">
                            <label class="form-check-label" for="hand-to-me">Hand it to me</label>
                        </div>
                    </div>
                </div>
                <h2 class="h5 pb-3">Delivery address</h2>
                <div class="row mb-4">
                    <div class="col-sm-6 mb-4">
                        <label class="form-label" for="bldgNo">Building Number<sup
                                class="text-danger ms-1">*</sup></label>
                        <input class="form-control" type="text" name="bldgNo" required id="bldgNo">
                        <div class="invalid-feedback">Please enter your building number!</div>
                    </div>
                    <div class="col-sm-6 mb-4">
                        <label class="form-label" for="roomNo">Room Number<sup class="text-danger ms-1">*</sup></label>
                        <input class="form-control" type="text" name="roomNo" required id="roomNo">
                        <div class="invalid-feedback">Please enter your room number!</div>
                    </div>
                    <div class="col-12 mb-4">
                        <label class="form-label mb-3" for="instructions"><span

                                class="badge bg-info fs-xs me-2">Note</span>Instructions</label>
                        <textarea class="form-control" rows="3" name="instructions" id="instructions"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="d-fle flex-column h-100 rounded-3 bg-secondary px-3 px-sm-4 py-4">
                            <h2 class="h5 pb-3">Your total</h2>
                            <div class="d-flex justify-content-between fs-md border-bottom pb-3 mb-3">
                                <span>Subtotal:</span><span class="text-heading" th:text=" '$' + ${subTotal}"></span>
                            </div>
                            <div class="d-flex justify-content-between fs-md border-bottom pb-3 mb-3">
                                <span>Delivery:</span><span class="text-heading">$2.50</span></div>
                            <div class="d-flex justify-content-between fs-md mb-2"><span
                                    style="font-weight: bold; font-size: large">Total:</span><span
                                    style="font-weight: bold; font-size: large"
                                    class="text-heading fw-medium" th:text=" '$' + ${total}"></span>
                                <input type="hidden" name="totalPrice" th:value="${total}"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-fle flex-column h-100 rounded-3 bg-secondary px-3 px-sm-4 py-4">
                            <h2 class="h5 pb-3">Pay on delivery</h2>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="radio" name="payment" value="cash" id="cash" checked>
                                <label class="form-check-label" for="cash"><b>Cash</b> payment to the driver</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="payment" value="card" id="card">
                                <label class="form-check-label" for="card"><b>Card</b> payment to the driver</label>
                            </div>
                            <button class="btn btn-primary d-block w-100 mt-3" type="button"
                                    onclick="return confirm('Please note that our delivery service is currently under development and not yet accepting actual food orders. We are working diligently to bring you a seamless and convenient ordering experience.')">
                                Delivery service launching soon!
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<!-- Footer-->
<footer class="footer pt-5" th:include="footer :: footer"></footer>

<!-- Main theme script-->
<script src="/js/theme.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script>
    function validateForm() {
        var firstName = document.forms["myForm"]["firstName"].value;
        var lastName = document.forms["myForm"]["lastName"].value;
        var bldgNo = document.forms["myForm"]["bldgNo"].value;
        var roomNo = document.forms["myForm"]["roomNo"].value;
        var instructions = document.forms["myForm"]["instructions"].value;
        var namePattern = /^[A-Za-z .'-]+$/;
        var bldgNoPattern = /^[A-Za-z0-9 .'-]+$/;
        var roomNoPattern = /^[0-9]+$/;

        if(firstName === "" || lastName === "" || bldgNo === "" || roomNo === "") {
            return false;
        }

        if (!firstName.match(namePattern) || !lastName.match(namePattern)) {
            alert("Name must contain only alphabet characters");
            return false;
        }

        if (!bldgNo.match(bldgNoPattern)) {
            alert("Building number must contain only alphanumeric characters");
            return false;
        }

        if (!roomNo.match(roomNoPattern)) {
            alert("Room number must contain only numeric characters");
            return false;
        }

        if ((firstName + " " + lastName).length > 50) {
            alert("Full name must be 50 characters or less");
            return false;
        }

        if ((bldgNo + " " + roomNo).length > 200) {
            alert("Delivery address must be 200 characters or less");
            return false;
        }

        if ((instructions).length > 200) {
            alert("Instructions must be 200 characters or less");
            return false;
        }
    }
</script>
</body>
</html>