<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>O House</title>
    <link rel="icon" href="/images/icon/favicon.ico" type="image/x-icon">
    <!-- SEO Meta Tags-->
    <meta name="description" content="O House is a restaurant located near Osan Air Base, serving delicious meals and a variety of cuisines. Visit us for a great dining experience!">
    <meta name="keywords" content="O House, Osan Air Base, restaurant, dining, cuisine, food">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/css/theme.min.css">
    <script src="https://kit.fontawesome.com/57a9f91f4b.js" crossorigin="anonymous"></script>
</head>
<!-- Body-->
<body class="handheld-toolbar-enabled">
<main class="page-wrapper">
    <!-- Header -->
    <header class="navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light"
            th:include="header :: header"></header>

    <div class="container py-5 mb-lg-3">
        <div class="row justify-content-center pt-lg-4 text-center">
            <div class="col-lg-5 col-md-7 col-sm-9">
                <h1 class="display-404 py-lg-3">404</h1>
                <h2 class="h3 mb-4">We can't seem to find the page you are looking for.</h2>

                <div class="d-lg-flex d-none flex-sm-row flex-column justify-content-center">
                    <a class="btn btn-lg btn-accent me-sm-3 mb-sm-3 mb-2" href="/">Return to homepage</a>
                </div>

            </div>
        </div>
    </div>
</main>

<!-- Footer-->
<footer class="footer pt-5" th:include="footer :: footer"></footer>
</body>
</html>