<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer class="footer bg-darker pt-5">
    <div class="container pt-2">
<!--        <div class="row pb-2">-->
<!--            <div class="col-lg-2 col-sm-4 pb-2 mb-4">-->
<!--                <div class="mt-n1"><a class="d-inline-block align-middle" href="#"><img class="d-block mb-4" src="/images/main/logo.png" width="117" alt="Ohouse"></a></div>-->
<!--            </div>-->
<!--            <div class="col-lg-2 col-sm-4">-->
<!--                <div class="widget widget-links widget-light pb-2 mb-4">-->
<!--                    <h3 class="widget-title text-light">Join us</h3>-->
<!--                    <ul class="widget-list">-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Careers</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Restaurants</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Become a Courier</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">About</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-2 col-sm-4">-->
<!--                <div class="widget widget-links widget-light pb-2 mb-4">-->
<!--                    <h3 class="widget-title text-light">Let us help you</h3>-->
<!--                    <ul class="widget-list">-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Help Center</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Support</a></li>-->
<!--                        <li class="widget-list-item"><a class="widget-list-link" href="#">Contacts</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <hr class="hr-light mt-md-2 mb-3">
        <div class="d-md-flex justify-content-between pt-4 pb-1">
            <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© All rights reserved. Made by <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a></div>
            <div class="widget widget-links widget-light pb-4">
                <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                    <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Privacy Policy</a></li>
                    <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Terms &amp; Conditions</a></li>
                    <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Cookies Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>