<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>O House </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/css/theme.min.css">
    <script src="https://kit.fontawesome.com/57a9f91f4b.js" crossorigin="anonymous"></script>
  </head>
  <!-- Body-->
  <body class="handheld-toolbar-enabled">
    <main class="page-wrapper">

      <!-- Header -->
      <header class="navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light" th:include="header :: header"></header>

      <!-- Hero section-->
      <section class="bg-darker bg-size-cover bg-position-center py-5 py-lg-10" style="background-image: url(/images/main/inside.jpeg); ">
        <div class="container pb-5">
          <div class="row justify-content-center pb-5">
            <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 text-center" >
              <h5 class="h2 text-light fw-light" style="background-color: rgba(0, 0, 0, 0.5)">Welcome to O House at Osan Air Base</h5>
              <div class="h1 text-light mb-3 pb-4" style="background-color: rgba(0, 0, 0, 0.5)">Fresh, delicious food in a cozy atmosphere. Indulge your taste buds today!
              </div><a class="btn btn-primary" href="#cuisine" data-scroll>What do you want to eat?</a>
            </div>
          </div>
        </div>
      </section>

      <!-- Categories (cuisine) grid-->
      <section class="container py-4 my-lg-3 py-sm-5" id="cuisine">
        <h2 class="text-center pt-4 pt-sm-3">Check out our menu!</h2>
        <p class="text-muted text-center mb-5">Get ready for delicious food prepared just for you</p>
        <div class="row">
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="food-delivery-category.html"><img class="card-img-top" src="/images/main/breakfast.jpeg" alt="Breakfast">
              <div class="card-body py-4 text-center">
                <h3 class="h5 mt-1">Breakfast</h3>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="food-delivery-category.html"><img class="card-img-top" src="/images/main/appetizer.jpg" alt="Appetizer">
              <div class="card-body py-4 text-center">
                <h3 class="h5 mt-1">Appetizer</h3>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="food-delivery-category.html"><img class="card-img-top" src="/images/main/pasta.jpg" alt="Pasta">
              <div class="card-body py-4 text-center">
                <h3 class="h5 mt-1">Pasta</h3>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="food-delivery-category.html"><img class="card-img-top" src="/images/main/burger.jpeg" alt="Sandwich &amp; Burger">
              <div class="card-body py-4 text-center">
                <h3 class="h5 mt-1">Sandwich &amp; Burger </h3>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="food-delivery-category.html"><img class="card-img-top" src="/images/main/grill.jpg" alt="Grill">
              <div class="card-body py-4 text-center">
                <h3 class="h5 mt-1">Grill</h3>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="food-delivery-category.html"><img class="card-img-top" src="/images/main/koreanfood.jpg" alt="Korean Food">
              <div class="card-body py-4 text-center">
                <h3 class="h5 mt-1">Korean Food</h3>
              </div></a></div>
        </div>
      </section>

      <!-- Store Info-->
      <section class="bg-primary bg-size-cover bg-position-center pt-5">
        <div class="container pt-2 pt-sm-0">
          <div class="row align-items-center">
            <div class="col-md-12 text-center text-md-start">
              <h2 class="text-light mb-3 text-center">Find out more about O House</h2>
              <div class="row pb-5" >
                <div class="col-sm-4">
                  <div class="card text-center">
                    <div class="card-body">
                      <i class="fa-solid fa-location-dot"></i>
                      <h5 class="card-title">Find Us</h5>
                      <hr style="border-top: 1px solid #ccc; margin: 10px 0;">
                      <p class="card-text fs-6 text-muted">Bldg.1774, Osan Air Base</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card text-center">
                    <div class="card-body">
                      <i class="fa-solid fa-face-smile"></i>
                      <h5 class="card-title">Visit Us</h5>
                      <hr style="border-top: 1px solid #ccc; margin: 10px 0;">
                      <p class="card-text fs-6 text-muted">6:30 am ~ 7:00 pm</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card text-center">
                    <div class="card-body">
                      <i class="fa-solid fa-phone"></i>
                      <h5 class="card-title">Contact Us</h5>
                      <hr style="border-top: 1px solid #ccc; margin: 10px 0;">
                      <p class="card-text fs-6 text-muted">DSN: 784-4926</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-secondary py-5">
        <div class="container py-md-4 pt-3 pb-0 py-sm-3">
          <h2 class="text-center mb-4 mb-md-5">Host Your Next Event!</h2>
          <hr style="border-top: 1px solid #ccc; margin: 10px 0;">
          <div class="d-flex justify-content-center">
            <div class="pt-1 py-sm-5 px-4 ps-md-5 pe-md-0 text-center text-sm-start fs-5">
              <dl>
                <dt><i class="fa-solid fa-check"></i> After-Tournament</dt>
                <dd>Gather and celebrate post-game victories</dd>
                <dt><i class="fa-solid fa-check"></i> Pre-Tournament</dt>
                <dd>Fuel up and strategize before the big game</dd>
              </dl>
            </div>
            <div class="pt-5 py-sm-5 px-4 ps-md-5 pe-md-0 text-center text-sm-start fs-5">
              <dl>
                <dt><i class="fa-solid fa-check"></i> Awards Banquets</dt>
                <dd>Recognize achievements with an elegant event</dd>
                <dt><i class="fa-solid fa-check"></i> Box Lunches</dt>
                <dd>Convenient and delicious meals for on-the-go gatherings</dd>
              </dl>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer-->
    <footer class="footer bg-darker pt-5" th:include="footer :: footer"></footer>

  </body>
</html>