<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>O House </title>
    <link rel="icon" href="/images/icon/favicon.ico" type="image/x-icon">
    <!-- SEO Meta Tags-->
    <meta name="description" content="O House is a restaurant located near Osan Air Base, serving delicious meals and a variety of cuisines. Visit us for a great dining experience!">
    <meta name="keywords" content="O House, Osan Air Base, restaurant, dining, cuisine, food">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/css/theme.min.css">
    <script src="https://kit.fontawesome.com/57a9f91f4b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:ital@1&display=swap" rel="stylesheet">

    <style>
        .hero {
            font-family: 'Merriweather', serif;
        }
        .body{
            font-family: 'Lato', sans-serif;
        }

        .desktop-only {
            display: none;
        }

        @media screen and (min-width: 768px) {
            .desktop-only {
                display: inline;
                text-shadow:1px 1px 1px #000;
            }

            .mobile-only {
                display: none;
                text-shadow:1px 1px 1px #000;
            }
        }

        @media screen and (max-width: 767px) {
            .desktop-only {
                display: none;
                text-shadow:1px 1px 1px #000;
            }

            .mobile-only {
                display: inline;
                text-shadow:1px 1px 1px #000;
            }
        }

    </style>
</head>
<!-- Body-->
<body class="handheld-toolbar-enabled">
<main class="page-wrapper">

    <!-- Header -->
    <header class="navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light"
            th:include="header :: header"></header>

    <!-- Hero section-->
    <section class="bg-darker bg-size-cover bg-position-center py-5 py-lg-5"
             style="background-image: url(/images/main/main2.jpeg);">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-8 col-lg-8 text-center" style="backdrop-filter: blur(2px)">
                    <div class="desktop-only display-3 text-light hero p-1" style="font-weight: bold;">Welcome to O House!<br></div>
                    <div class="mobile-only display-5 text-light hero p-1" style="font-weight: bold;">Welcome to<br/> O House!<br></div>
                    <div class="desktop-only h1 text-light mb-3 hero p-1">Find comfort in our flavors</div>
                    <div class="mobile-only h2 text-light mb-3 hero p-1">Find comfort <br/> in our flavors</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Categories (cuisine) grid-->
    <section class="container py-4 my-lg-1 py-sm-3 body" id="cuisine">
        <h2 class="text-center pt-2 pt-sm-3" style="font-weight: bold">Check out our menu</h2>
        <p class="text-muted text-center m-0" style="font-size: medium">Satisfy your cravings here!</p>
        <div class="row justify-content-center align-items-center p-3">
            <a class="btn btn-danger btn-lg" href="/contacts" data-scroll style="white-space: normal;">
                Contact us at [DSN] 784-4926, <i class="fa-solid fa-phone"></i> 0505-784-4926 for orders
            </a>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="menus/1"><img
                    class="card-img-top" src="/images/menu/eggs-your-way.jpeg" alt="Breakfast">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">Breakfast</h3>
                </div>
            </a></div>
            <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="menus/2"><img
                    class="card-img-top" src="/images/menu/fish-taco.jpeg" alt="Appetizer">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">Appetizer</h3>
                </div>
            </a></div>
            <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="menus/3"><img
                    class="card-img-top" src="/images/menu/seafood-spaghetti.jpeg" alt="Pasta">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">Pasta</h3>
                </div>
            </a></div>
            <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="menus/4"><img
                    class="card-img-top" src="/images/menu/signature-cheese-burger.jpeg" alt="Sandwich &amp; Burger">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">Sandwich &amp; Burger </h3>
                </div>
            </a></div>
            <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="menus/5"><img
                    class="card-img-top" src="/images/menu/t-bone-steak.jpeg" alt="Grill">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">Grill</h3>
                </div>
            </a></div>
            <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow" href="menus/6"><img
                    class="card-img-top" src="/images/menu/beef-mushroom-meal.jpeg" alt="Korean Food">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">Korean Food</h3>
                </div>
            </a></div>
        </div>
    </section>

    <!-- Store Info-->
    <section class="bg-danger bg-size-cover bg-position-center pt-5 body">
        <div class="container pt-2 pt-sm-0">
            <div class="row align-items-center">
                <div class="col-md-12 text-center text-md-start">
                    <h2 class="text-light mb-3 text-center" style="font-weight: bold">Find out more about O House</h2>
                    <div class="row pb-5">
                        <div class="col-sm-4 py-3">
                            <div class="card text-center">
                                <div class="card-body" style="height: 10rem ; font-size: 1em">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <h5 class="card-title">Find Us</h5>
                                    <hr style="border-top: 1px solid #ccc; margin: 10px 0;">
                                    <p class="card-text fs-6 text-muted">Bldg.1774, <br/>Osan Air Base</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 py-3">
                            <div class="card text-center">
                                <div class="card-body" style="height: 10rem ; font-size: 1em">
                                    <i class="fa-solid fa-face-smile"></i>
                                    <h5 class="card-title">Visit Us</h5>
                                    <hr style="border-top: 1px solid #ccc; margin: 10px 0;">
                                    <p class="card-text fs-6 text-muted">6:30 am ~ 7:00 pm</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 py- 3">
                            <div class="card text-center">
                                <div class="card-body" style="height: 10rem; font-size: 1em">
                                    <i class="fa-solid fa-phone"></i>
                                    <h5 class="card-title">Contact Us</h5>
                                    <hr style="border-top: 1px solid #ccc; margin: 10px 0;">
                                    <p class="card-text fs-6 text-muted">DSN: 784-4926</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-secondary py-5 body">
        <div class="container text-center py-md-4 pt-3 pb-0 py-sm-3">
            <h2 class="text-center mb-4 mb-md-5" style="font-weight: bold">Host Your Next Event!</h2>
            <hr style="border-top: 1px solid #ccc; margin: 10px 0;">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 py-sm-5 px-4 ps-md-5 pe-md-0 text-center text-sm-start fs-5">
                <div class="col">
                    <dl>
                        <dt><i class="fa-solid fa-check"></i> After-Tournament</dt>
                        <dd>Gather and celebrate post-game victories</dd>
                    </dl>
                </div>
                <div class="col">
                    <dl>
                        <dt><i class="fa-solid fa-check"></i> Pre-Tournament</dt>
                        <dd>Fuel up and strategize before the big game</dd>
                    </dl>
                </div>
                <div class="col">
                    <dl>
                        <dt><i class="fa-solid fa-check"></i> Awards Banquets</dt>
                        <dd>Recognize achievements with an elegant event</dd>
                    </dl>
                </div>
                <div class="col">
                    <dl>
                        <dt><i class="fa-solid fa-check"></i> Box Lunches</dt>
                        <dd>Convenient and delicious meals for on-the-go gatherings</dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Footer-->
<footer class="footer bg-darker pt-5" th:include="footer :: footer"></footer>

<!-- Main theme script-->
<script src="/js/theme.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>