<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ohouse</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<h1>Welcome to Ohouse!</h1>

<div class="container">
    <div class="categories" style="display: flex; flex-direction: row;">
        <div th:each="category : ${categories}" class="category" style="flex-grow: 1;">
            <span th:text="${category.categoryName}" th:data-categoryid="${category.categoryId}" class="categoryId"
                  style="cursor: pointer;"></span>
        </div>
    </div>
    <div class="menu-items" style="display: flex; flex-wrap: wrap; border: solid;"></div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".categoryId").click(function () {
            var categoryId = Number($(this).data("categoryid"));

            $.ajax({
                type: "POST",
                url: "/menus",
                headers: {
                    "X-CSRF-TOKEN": $("input[name='_csrf']").val()
                },
                data: {
                    categoryId: categoryId
                },
                success: function (menus) {
                    var menuItems = $(".menu-items");
                    menuItems.empty();

                    for (var i = 0; i < menus.length; i++) {
                        var menu = menus[i];
                        var menuItem = $("<div>").addClass("menu-item");

                        var menuImage = $("<img>").attr("src", menu.imagePath).attr("alt", menu.menuNameEng).addClass("menu-image");

                        var menuName = $("<div>").addClass("menu-name").text(menu.menuNameEng);
                        var menuDescription = $("<div>").addClass("menu-description").text(menu.descriptionEng);
                        var menuPrice = $("<div>").addClass("menu-price").text(menu.menuPrice);
                        var addButton = $("<button>").addClass("add-button").text("Add");

                        menuItem.append(menuImage);
                        menuItem.append(menuName);
                        menuItem.append(menuDescription);
                        menuItem.append(menuPrice);
                        menuItem.append(addButton);

                        var menuContainer = $("<div>").addClass("menu-container");
                        menuContainer.append(menuItem);

                        $(".menu-items").append(menuContainer);
                    }

                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>

</body>
</html>


