<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>O House | Menus</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="O House is a restaurant located near Osan Air Base, serving delicious meals and a variety of cuisines. Visit us for a great dining experience!">
    <meta name="keywords" content="O House, Osan Air Base, restaurant, dining, cuisine, food">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/css/theme.min.css">
    <script src="https://kit.fontawesome.com/57a9f91f4b.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&&family=Merriweather:ital,wght@1,900&display=swap" rel="stylesheet">

    <style>
        .custom-btn {
            padding: 2px 8px;
            font-size: 12px;
        }

        .hero {
            font-family: 'Merriweather', serif;
        }

        .body{
            font-family: 'Lato', sans-serif;
        }

    </style>

</head>
<!-- Body-->
<body class="handheld-toolbar-enabled">
<!-- Header -->
<main class="page-wrapper">
    <header class="navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light"
            th:include="header :: header"></header>
    <section class="bg-darker bg-size-cover bg-position-center py-5">
        <div class="container py-md-4 d-flex flex-column align-items-center hero">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start align-items-center p-2">
                    <li class="breadcrumb-item"><a class="text-nowrap" href=""><i class="fa-solid fa-house" style="color: #ffffff;"></i> Home > <span th:text="${category.categoryName}"/></a></li>
                </ol>
            </nav>
            <em class="display-1 text-light text-center text-lg-start p-1" style="backdrop-filter: blur(2px); text-shadow:1px 1px 1px #000">
                <span th:text="${category.categoryName}"></span></em>
        </div>
    </section>

    <section class="container pt-3 body">
        <div class="row justify-content-center align-items-center px-3 pt-3">
            <a class="btn btn-danger btn-lg" href="/contacts" data-scroll style="white-space: normal;">
                Contact us at [DSN] 784-4926, <i class="fa-solid fa-phone"></i> 0505-784-4926 for orders
            </a>
        </div>
    </section>

    <!-- Menu (Products grid)-->
    <section class="container tab-content py-3 body">
        <div class="row row-cols-auto pt-3 pt-sm-0 ">
            <div class="col-lg-3 col-md-4 col-6 mb-grid-gutter" th:each="menu : ${menus}">
                <div class="card product-card border pb-2">
                    <a class="d-block" th:href="@{/menus/detail/{menuId}(menuId=${menu.menuId})}">
                        <img class="card-img-top"
                             th:if="${menu.imagePath eq null}"
                             src="/images/menu/default-img.jpg"
                             th:alt="${menu.menuNameEng}"
                        />
                        <img class="card-img-top"
                             th:unless="${menu.imagePath eq null}"
                             th:src="@{${menu.imagePath}}"
                             th:alt="${menu.menuNameEng}"
                        />
                    </a>
                    <div class="card-body pt-1 pb-2">
                        <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                            <div>
                                <h3 class="product-title fs-md pt-2 pb-2"
                                    style="height: 4rem; font-size: 1em; overflow: auto; text-align: center"
                                    th:text="${menu.menuNameEng}"></h3>
                            </div>
                            <div class="d-flex align-items-center justify-content-lg-end justify-content-end">
                                <div class="product-price" style="font-size: 1em"><span class="text-accent"
                                                                                        th:text=" '$' + ${menu.menuPrice}"></span>
                                </div>
                                <a class="btn btn-outline-secondary rounded-pill btn-icon ms-2 custom-btn" type="button"
                                   th:href="@{/menus/detail/{menuId}(menuId=${menu.menuId})}">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<!-- Footer-->
<footer class="footer bg-darker pt-5" th:include="footer :: footer"></footer>
<!-- Main theme script-->
<script src="/js/theme.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>
</html>