<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>O House | Menu</title>
    <link rel="icon" href="/images/icon/favicon.ico" type="image/x-icon">
    <!-- SEO Meta Tags-->
    <meta name="description" content="O House is a restaurant located near Osan Air Base, serving delicious meals and a variety of cuisines. Visit us for a great dining experience!">
    <meta name="keywords" content="O House, Osan Air Base, restaurant, dining, cuisine, food">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/css/theme.min.css">
    <script src="https://kit.fontawesome.com/57a9f91f4b.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

</head>
<!-- Body-->
<body class="handheld-toolbar-enabled">
<!-- Header -->
<main class="page-wrapper">
    <header class="navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light"
            th:include="header :: header"></header>

    <!-- Product Gallery + description-->
    <section class="row g-0 mx-n2 pb-5 mb-xl-3" style="font-family: 'Lato', sans-serif;">
        <div class="col-xl-7 px-2 mb-3">
            <div class="h-100 bg-light rounded-3 p-3">
                <div class="product-gallery">
                    <div class="product-gallery-preview order-sm-2">
                        <div class="product-gallery-preview-item active" id="first">

                            <img
                                    th:if="${menu.imagePath eq null}"
                                    src="/images/menu/default-img.jpg"
                                    th:alt="${menu.menuNameEng}"/>
                            <img
                                    th:unless="${menu.imagePath eq null}"
                                    th:src="@{${menu.imagePath}}"
                                    th:alt="${menu.menuNameEng}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 px-2 mb-3">
            <div class="h-100 bg-light rounded-3 py-4 px-4 px-sm-4">
                <h1 class="h2" th:text="${menu.menuNameEng}"></h1>
                <h1 class="h2 text-dark" th:text="${menu.menuNameKor}"></h1>
                <div class="h2 fw-normal text-accent" th:text="'$' + ${menu.menuPrice}"></div>
                <form class="mb-grid-gutter">
                    <div class="row mx-n2">
                        <div class="col-6 px-2">
                            <div class="mb-3">
                                <div class="pt-2 pb-2" th:each="entry : ${menuOptions}">
                                    <label class="form-label" for="1" th:text="${entry.key}"></label>
                                    <select class="form-select" id="1">
                                        <option th:each="option : ${entry.value}"
                                                th:text="${option.optionName}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="border-top: 1px solid #ccc; margin: 10px 0;">
                    <h5 class="pt-2">Description</h5>
                    <div class="pb-3" th:text="${menu.descriptionEng}"></div>
                    <div th:text="${menu.descriptionKor}"></div>
                </form>
            </div>
        </div>
    </section>
</main>

<!-- Footer-->
<footer class="footer bg-darker pt-5" th:include="footer :: footer"></footer>
<!-- Main theme script-->
<script src="/js/theme.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>


</body>
</html>